@media (min-width: 1400px) {
    .container {
        width: 1380px;
    }
}

@media (max-width: 1400px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 900px;
    }

}

@media (max-width: 900px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }
}
