@import './normalize';
@import './mixsin';

@import './responsive';
@import './header/header';
@import './hero/hero';
@import './about/about';
@import './sliderHome/slider';
@import './price/price';
@import './contact/contact';
@import './footer';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
.container{
    margin: 0 auto;
    max-width: 1400px;
padding: 20px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-left{
    margin:  0 0 0 auto;
}
#dropdown,
#dropdownFirst {
    color: #ACACAC;

    &.valid-option {
        color: black;

    }
  }


  .space{
    z-index: -2;
    position: relative;
    height: 120px;
    background-color: #f8f8f8;
  }
