@import './contactInfo';
@import './contatctForm';

.contact{
    padding: 10px;
    &__flex{
        display: flex;
        align-items: center;
        justify-content: space-between;


       
    }
}