@import "./contactInfo";
@import "./contatctForm";

.contact {
    padding: 10px 0;
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 1200px) {
    .contact {
        &__flex {
            display: block;
        }

        &__form {
            width: 100%;

            input {
                &:first-child {
                    margin-right: 0px;
                }
            }

            &-lable{
                font-size: 14px;
               }

            &-flex {
                display: block;
            }

            &-btn {
                width: 100%;
            }
        }

        &__info {
            width: 100%;
            height: 647px;
            margin-bottom: 50px;
            .contact__box-info {
                span {
                    width: 100%;
                }
            }
            &-bg {
                width: 100%;
            }
        }
    }
}

@media (max-width: 900px) {
    .contact {
        &__info {
            padding: 30px ;
            height: 400px;
            overflow: hidden;
            text-align: center;
            &-bg {
                bottom: -180px;
                right: -200px;
            }

            .contact__box {
                &-info {
                    span {
                        font-size: 14px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
padding-bottom: 30px;
                        img{
                            margin: 0;
                        }
                    }
                }
                &-title {
                    font-size: 18px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
