.slider {


    .slick-slide {margin-right: 50px;}

    background-color: #f8f8f8;
    padding: 50px 0;

    &__itemTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        &Box {
            width: 718px;
            &-upTitle {
                font-family: "Poppins", sans-serif;
                font-size: 19px;
                font-weight: 500;
                line-height: 29px;
                letter-spacing: 0.15em;
                color: #21364b;
            }

            &-title {
                font-family: "Poppins", sans-serif;
                font-size: 40px;
                font-weight: 600;
                line-height: 47px;
                color: #2b2b2b;
            }

            &-text {
                color: #808080;

                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
            }
        }
        &-btn {
            width: 80px;
            padding: 18px 30px 18px 30px;
            border-radius: 30px;
            border: 1px solid #21364b;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #21364b;
            transition: background 0.3s ease-in;

                &:hover {
                    transition: background 0.3s ease-in-out;
    
                    background-color: #21364b;
                    color: #fff;
                    border: 1px solid #21364b;
                }
        }
    }

    &Carusel {
        &__box {

            &-price {
                font-family: "Poppins", sans-serif;
                font-size: 28px;
                font-weight: 600;
                line-height: 41px;
                color: #2b2b2b;
                margin-top: 32px;
                margin-bottom: 10px;
            }
            &-title {
                font-family: "Poppins", sans-serif;
                font-size: 19px;
                font-weight: 500;
                line-height: 29px;
                color: #2b2b2b;
                padding-bottom: 5px;
            }
            &-address {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: #808080;
            }
        }
        .popular {
            background-color: #ffe1e1;
            color: #ff1111;
        }

        .price {
            background-color: #f1fff1;
            color: #00ce3a;
        }

        .listing {
            background-color: #d7eeff;
            color: #119bff;
        }
        .category {
            width: 141px;
            height: 42.51px;
            padding: 10px 24px 10px 24px;
            border-radius: 20px;
            gap: 10px;
            display: flex;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            position: absolute;
            bottom: 20px;
            left: 30px;

            img {
                width: 20px;
                height: 22px;
            }
        }

        &__image {
            position: relative;
            width: 100%;
            border-radius: 30px;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .slider {
        &__itemTitle {
            text-align: center;
            display: block;

            &Box {
                width: 100%;
            }

            &-btn {
                margin-top: 20px;
                width: 100%;
            }
        }

        &Carusel__box {
            text-align: center;
        }
        &Carusel__image {
            width: 100%;
            padding: 10px;
        }
    }
}

@media (max-width: 900px) {
    .slider {
        padding: 0;
        &__itemTitleBox-upTitle {
            font-size: 14px;
        }

        &__itemTitleBox-title {
            font-size: 18px;
            margin: 0;
        }

        &__itemTitleBox-text {
            font-size: 14px;
        }

        &Carusel__box {
            &-title {
                font-size: 18px;
            }

            &-price {
                font-size: 18px;
                margin: 0;
            }
        }

        &Carusel__image {
            padding: 0px;
        }
    }
}
