.hero__rightSide {
    position: relative;
    .heroForm {
        width: 420px;
        padding: 0 0 30px 0;
        border-radius: 30px;
        background-color: #fff;
        margin-top: 146px;
        &__header {
            padding-top: 40px;
            border-bottom: 1px solid #aaaaaa;
            &-text {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                padding-bottom: 37px;
                width: 150px;
                margin: auto;
                text-align: center;
                border-bottom: 3px solid #21364b;
            }
        }

        &__form {
            &-group {
                margin-top: 30px;
            }
            .nice-select {
                float: unset !important;
                padding: 30px 16px;
            }
            &-input {
                width: 340px;
                border-radius: 20px;
                background-color: #d4d4d433;
                color: #d4d4d4;
                border: 1px solid #d4d4d4;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                padding: 16px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 0 auto;

                .nice-select-dropdown {
                    width: 100%;
                }
            }

            &-submit {
                cursor: pointer;
                width: 340px;
                border-radius: 20px;
                background-color: #21364b;
                color: #fff;
                border: 1px solid #bfbdc1;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                padding: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;

                &-icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
    .scroll__box {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
    }
    .scroll {
        margin-top: 150px;
        background-color: #02172c;
        width: 54px;
        height: 120px;
        border-radius: 50px;
        position: absolute;
        right: 0;
        cursor: pointer;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-text {
            color: #fff;
            transform: rotate(-90deg);
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
        }

        &-icon {
            position: relative;
            width: 20px;
            height: 20px;
            animation: slidein 2s linear infinite;

            @keyframes slidein {
                0% {
                    top: 0px;
                }
                25% {
                    top: 50%;
                }
                50% {
                    top: 80%;
                }
                75% {
                    top: 50%;
                }
                100% {
                    top: 0px;
                }
            }
        }
    }
}
